$white: #fff;
$black: #000;
$light-gray: #f3f4f6;
$gray: #dbdbdb;
$dark-gray: #8e8e8e;
$primary: #18a0fb;
$accent: #f99400;

$base-color: rgba($black, 0.8);
$headings-color: $black;
$container-max-width: 1170px;

$font-size-base: 16px;
$font-family-base: Montserrat, Arial, Hevletica, sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;
$box-shadow: 0px 10px 15px -3px rgba($black, 0.1);

$border-color: $gray;
$body-bg: $light-gray;
$border-radius: 2px;
